#myVideo{
  position: fixed;
}

.myheader{
  font-size: 3rem;
  text-align: center;
}

.content{
  position:fixed;
  width: 100%;
  height: auto;
}

.mygreen{
  color:#4b5320;
  user-select:none
}
.white{
  color:white;
  user-select:none
}
.red{
  color:red;
  user-select:none
}

.navbar-center
{
  
  width: 95%;
    text-align: center;
}

